input {
    mod-key "Mod3"

    keyboard {
        xkb {
            layout "de"
            variant "mac_nodeadkeys"
            options "caps:hyper,altwin:swap_lalt_lwin"
        }
    }

    touchpad {
        natural-scroll
    }
}

cursor {
    xcursor-theme "Bibata-Modern-Classic"
    xcursor-size 24
}

layout {
    gaps 16
    always-center-single-column

    focus-ring {
        width 4
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    border {
        off
    }
}

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

spawn-at-startup "noctalia"
spawn-at-startup "xwayland-satellite"

window-rule {
    geometry-corner-radius 12
    clip-to-geometry true
}

animations {
    window-open {
        duration-ms 50
    }

    window-close {
        duration-ms 75
    }
}

binds {
    Super+Space { spawn "noctalia" "msg" "panel-toggle" "launcher"; }
    Super+Shift+O { show-hotkey-overlay; }

    Super+Q { close-window; }

    Super+Left  { focus-column-left; }
    Super+Down  { focus-window-down; }
    Super+Up    { focus-window-up; }
    Super+Right { focus-column-right; }
    Super+H     { focus-column-left; }
    Super+J     { focus-window-down; }
    Super+K     { focus-window-up; }
    Super+L     { focus-column-right; }
    Super+F     { maximize-window-to-edges; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }

    Mod+P repeat=false { spawn "1password"; }
    Mod+T repeat=false { spawn "ghostty"; }
    Mod+B repeat=false { spawn "firefox"; }
    Mod+E repeat=false { spawn "nautilus"; }

    Print { screenshot; }
    Super+Escape { toggle-keyboard-shortcuts-inhibit; }
}
